.lock-screen-back {
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 0 0 0 #667aa6 inset;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 3s;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    overflow: hidden;
}

.app-main {
    width: 100%;
    height: 100%;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
    .menu-slide {
        position: relative;
        width: 256px;
        min-width: 256px;
        max-width: 256px;
        height: 100%;
        flex: 0 0 256px;
        transition: all .2s ease-in-out;
        background: #001529;
        .li-item {
            height: 50px;
            line-height: 50px;
            .link-item {
                display: inline-block;
                position: relative;
                font-size: 14px;
                height: 50px;
                line-height: 50px;
                width: 100%;
                padding-left: 43px;
                color: hsla(0, 0%, 100%, .7);
                transition: all .2s ease-in-out;
                cursor: pointer;
                .ivu-icon {
                    color: rgba(255, 255, 255, 0.7);
                    margin-right: 10px;
                    font-size: 14px;
                }
                .menu-text {
                    color: hsla(0, 0%, 100%, .7);
                }
                &:hover {
                    color: #fff;
                    background: rgba(255, 255, 255, 0.1);
                    .ivu-icon,
                    .menu-text {
                        color: #fff;
                    }
                }
                .menu-submenu-arrow-down {
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
                }
            }
            .active {
                border-right: none;
                color: #fff;
                background: #2d8cf0 !important;
            }
        }
        .sub-menu-item {
            background: rgba(0, 0, 0, 0.7);
            transition: all .2s ease-in-out;            
            .link-item {
                padding-left: 60px;
            }
        }
    }
}
.right-container {
    .header-con {
        background: #fff;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        .header-bar {
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 100%;
            height: 100%;
            .slider-trigger-a {
                flex: 1 0 40px;
                padding: 6px;
                width: 40px;
                height: 40px;
                text-align: center;
                color: #5c6b77;
                margin-top: 12px;
            }
            .icon-menu {
                font-size: 26px;
            }
        }
        .custom-bread-crumb {
            vertical-align: top;
            margin-left: 30px;
            flex: 1;
            .ivu-breadcrumb {
                font-size: 14px;
            }
            .ivu-icon {
                margin-right: 4px;
            }
        }
        .custom-content-con {
            flex: 0 1 100px;
            .user-avator-dropdown {
                cursor: pointer;
            }
            .icon-arrow-down {
                font-size: 18px;
            }
            .ivu-select-dropdown {
                transform-origin: center top 0px;
            }
        }
    }
    .right-container-body {
        height: 100%;
        .home-title {
            font-size: 24px;
            text-align: center;
            margin-top: 30px;
        }
        .link-box {
            width: 400px;
            margin: 30px auto;
            .link-item {
                display: inline-block;
                width: 110px;
                height: 40px;
                line-height: 40px;
                margin-right: 20px;
                font-size: 14px;
                border: 1px solid #ccc;
                border-radius: 4px;
                color: #404040;
                text-align: center;
                &:hover {
                    border: 1px solid #2d8cf0;
                    color: #2d8cf0;
                }
            }
        }
        .table-box{
            margin:20px;
            border-radius: 4px;
            .ivu-table-wrapper{
                border-radius: 4px;
            }
            .table{
                width:100%;
                border-spacing: 0;
                border-collapse: collapse;
                table-layout: fixed;
                border: 1px solid #ddd;
                background: #fff;
                .table-th,.table-tr{
                    padding-left:16px;
                    border-bottom: 1px solid #E9E9E9;
                    font-family: Helvetica;
                    font-size: 12px;
                    color: #5A5A64;
                    height:40px;
                    line-height: 40px;
                }
                .table-th{
                    padding-left: 16px;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    background-color: #f8f8f9;
                }
                .table-tr {
                    cursor: pointer;
                    td{
                        padding-left: 16px;
                    }
                    &:hover{
                        background:#ebf7ff;
                    }
                    .btn-edit{
                        // text-decoration: underline;
                        color:#404040;
                    }
                }
                // .table-tr:nth-child(2n){
                //     background: #f8f8f9;
                // }
            }
        }
    }
}

.main-hide-text {
    .menu-slide {
        width: 64px;
        min-width: 64px;
        max-width: 64px;
    }
    .link-item{
        padding-left: 20px !important;
    }
    .menu-title {
        font-size: 24px !important;
    }
    .sub-menu-title {
        font-size: 16px !important;
    }
    .menu-text,
    .hide-icon {
        display: none;
    }
    .hide-sub-menu {
        .sub-menu-item {
            .link-item{
                padding-left: 24px !important;
            }
        }
    }
}
 .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    padding: 5px 15px 6px;
    font-size: 12px;
    border-radius: 4px;
    transition: color .2s linear, background-color .2s linear, border .2s linear, box-shadow .2s linear;
    color: #515a6e;
    background-color: #fff;
    border-color: #dcdee2;
}

.btn-primary {
    color: #fff;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
}

.btn-width-long {
    width: 100%;
}